html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--------------------------------------CSS RESET---------------------------*/



main{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 70px;
    margin-right: 70px;
}

header{
    height: 80px;
    background-color: pink;
}

nav{
    padding-top: 1%;
}

nav ul{
    display: flex;
    justify-content: space-around;
}



nav ul li:hover{
    background-color: rgb(214,214,214);
}

footer{
    background-color: pink;
    height: 50px;
}

footer ul{
    display: flex;
    justify-content: space-around;
}

#carousel{
    margin-bottom: 50px;
    border:solid 2px black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(240,240,240,0.4);
    box-shadow: 0px 8px 8px 8px #aaa;
    border-radius: 10px;;
}

#titre{
    color: black;
    padding-top: 3%;
    font-size: 40px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
#demo{
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#article{
    margin-bottom: 50px;
    border:solid 2px black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(240,240,240,0.4);
    box-shadow: 0px 8px 8px 8px #aaa;
    border-radius: 10px;
}

#article1{
    border: solid 1px black;
    box-shadow: 0px 8px 8px 8px #aaa;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    padding-bottom: 20px;
    background-color: white;
    padding: 0%;
    margin-left: 190px;

}

#article2{
    border: solid 1px black;
    box-shadow: 0px 8px 8px 8px #aaa;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    padding-bottom: 20px;
    background-color: white;
    padding: 0%;

}

.titrearticle{
    border-bottom: 2px solid black;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    text-align: center;
    background-color: pink;
}

#pied{
    padding-top: 10px;
}

/*------------------------------------------CSS Lieux------------------------------------------------------*/
#lieux{
margin-bottom: 50px;
border:solid 2px black;
padding-top: 20px;
padding-bottom: 20px;
background-color: rgba(240,240,240,0.4);
box-shadow: 0px 8px 8px 8px #aaa;
border-radius: 10px;
}


#iframe{
    margin-left: 50px;
}


/*------------------------------------css inscription--------------------------------------------------------*/


#inscription{
    margin-bottom: 50px;
    border:solid 2px black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(240,240,240,0.4);
    box-shadow: 0px 8px 8px 8px #aaa;
    border-radius: 10px;
}

/*------------------------------------css Connect--------------------------------------------------------*/


#connect{
    margin-bottom: 50px;
    border:solid 2px black;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(240,240,240,0.4);
    box-shadow: 0px 8px 8px 8px #aaa;
    border-radius: 10px;
}