{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <main class="col-lg-9">
        <div id="inscription">
            <div class="offset-lg-5">
            {{ form_start(formulaire) }}
            {{ form_widget(formulaire) }}
            {{ form_end(formulaire) }}
            </div>
        </div>
    </main>
{% endblock %}
