<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
   {% block stylesheets %}<link rel="stylesheet" href="{{ asset("build/app.css") }}">{% endblock %}

</head>
<div id="corp" class="container-fluid">
    <header class="row">
        <div class="offset-lg-1 col-lg-2">
            <a href="/toto"><h1 id="titre">Easy Wedding</h1></a>
        </div>
        <nav class="offset-lg-4 col-lg-4">

            <ul>
                <li><a href="/inscription"><img src="images/icone/inscription.png"> Inscription</a></li>
                <li><a href="/lieux"><img src="images/icone/iconmap.png">  Lieux</a></li>
                <li><a href="/formules"><img src="images/icone/formules.png"> Formules</a></li>
                <li><a href="/entreprise"><img src="images/icone/entreprise.png">  Entreprises</a></li>
                <li><a href="/photos"><img src="images/icone/photos.png">  Photos</a></li>
                <li><a href="/connect"><img src="images/icone/photos.png">  Connection</a></li>
            </ul>
        </nav>
    </header>
    <div id="ornement">
    <div id="ornement" class="row">
        <img src="images/ornement1.png" class="col-lg-1">

        <body>
        {% block body %}{% endblock %}
        {% block javascripts %}<script type="text/javascript" src="{{ asset("build/app.js") }}"></script>{% endblock %}
        </body>


        <img src="images/ornement2.png" id="ornement2" class="col-lg-1">
    </div>

    <footer class="row">
        <div class="offset-lg-9 col-lg-3">
            <ul>
                <li><a href="/contact"><img src="images/icone/icontel.png"> Contactez-nous</a></li>
                <li><a href="/mentionslegal"><img src="images/icone/iconbook.png"> Mention-legal</a></li>
            </ul>
        </div>
    </footer>


    {% block bodyconnect %}{% endblock %}
</div>
</html>

